.banner {
  grid-area: banner;
}
.title {
  grid-area: title;
  text-align: left !important;
  padding: 10px !important;
}
.menu {
  grid-area: menu;
  display: grid;
  grid-template-areas: "nav1 nav2 nav3 nav4";
  grid-gap: 5px;
  height: 60px;
  padding: 0 !important;
  color: white;
  background-color: #c99d5e;
  /* border: solid 1px black; */
}
.main {
  grid-area: main;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "content2"
    "content3";
  padding: 0 !important;
  margin-bottom: 20px;
  color: #464646;
}

.foot {
  grid-area: footer;
  /* border: solid 1px black; */
}

.gallery {
  padding: 5px;
  text-align: center;
  font-size: 15px;
}
.gallery > img {
  border: 1px solid black;
}

.content_gallery {
  border: solid 1px black;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "gallery gallery gallery gallery";
  padding: 10px;
}

.content_div {
}

.content1 {
  grid-area: content1;
  text-align: left !important;
}
.content2 {
  grid-area: content2;
  text-align: left !important;
}
.content3 {
  grid-area: content3;
  text-align: left !important;
}

.nav1 {
  grid-area: nav1;
}
.nav2 {
  grid-area: nav2;
}
.nav3 {
  grid-area: nav3;
}
.nav4 {
  grid-area: nav4;
}
.menu > div {
  /* border: solid black 1px; */
  /* background-color: #c99d5e; */
  padding: 15px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "title"
    "menu"
    "banner"
    "main"
    "footer";
  /* grid-gap: 5px; */
  /* background-color: gray; */
  padding: 100px;
  font-family: "Noto sans KR";
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 0 0 30px 0;
  font-size: 20px;
}
.content_div {
  border: solid 1px black;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white !important;
  text-decoration: none !important;
}
a:active {
  color: white;
  text-decoration: none;
}
g {
  font-size: 6px;
}

@media (max-width: 768px) {
  .menu {
    grid-area: menu;
    display: grid;
    grid-template-areas:
      "nav1 nav2"
      "nav3 nav4";
    grid-gap: 0px;
    height: 124px;
    padding: 0 !important;
    color: white;
    background-color: #c99d5e !important;
    /* border: solid 1px black; */
    /* margin-bottom: 80px; */
  }
  .menu > div {
    /* background-color: #c99d5e !important; */
    font-size: 24px;
    padding: 10px;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      "title"
      "menu"
      "banner"
      "main"
      "footer";
    /* grid-gap: 5px; */
    /* background-color: gray; */
    padding: 0px;
    font-family: "Noto sans KR";
  }
  .content_gallery {
    border: solid 1px black;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      "gallery gallery"
      "gallery gallery";
    padding: 5px;
  }
  .gallery > img {
    width: 400px;
    height: 150px;
  }
}
@media (max-width: 1280px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "title"
      "menu"
      "banner"
      "main"
      "footer";
    /* grid-gap: 5px; */
    /* background-color: gray; */
    padding: 0px;
    font-family: "Noto sans KR";
  }
  .content_gallery {
    border: solid 1px black;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      "gallery gallery"
      "gallery gallery";
    padding: 5px;
  }
  .gallery > img {
    width: 400px;
    height: 150px;
  }
}

@media (max-width: 1800px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "title"
      "menu"
      "banner"
      "main"
      "footer";
    /* grid-gap: 5px; */
    /* background-color: gray; */
    padding: 0px;
    font-family: "Noto sans KR";
  }
}
