<!DOCTYPE html>
<html lang="en">
<head>
	<title>경진 ERP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../login/css/util.css">
	<link rel="stylesheet" type="text/css" href="../login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../login/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					회원가입
				</span>
				<div class="login100-form p-b-33 p-t-5" id="form">
					
					<div class="wrap-input100">
						<input class="input100" type="text" name="memId" placeholder="이메일(아이디)">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					
					<div class="wrap-input100">
						<input class="input100" type="password" id="memPwd" name="memPwd" placeholder="패스워드">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					
					<div class="wrap-input100">
						<input class="input100" type="password" id="memPwdChk" name="memPwd" placeholder="패스워드확인">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					
					<div class="wrap-input100">
						<input class="input100" type="text" name="memName" placeholder="이름">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					
					<div class="wrap-input100">
						<input class="input100" type="text" name="memNick" placeholder="닉네임">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					
					<div class="wrap-input100">
						<input class="input100" type="text" name="memTel" placeholder="연락처 ex)010-1111-2222">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					
					<div class="wrap-input100">
						<input class="input100" type="text" name="memBirth" placeholder="생년월일 ex)1999-04-12">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					
					<div class="wrap-input100" style="text-align:center">
						Mail <input class="input" type="checkbox" name="mailYn" value="Y" style="margin-right:100px">
						SMS <input class="input" type="checkbox" name="smsYn" value="Y">
					</div>
					
					

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" onclick="dataValidate();">
							SignUp
						</button>
						<button class="login100-form-btn" style="margin-left:10px" onclick="btnCencel();">
							Cancel
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../login/vendor/bootstrap/js/popper.js"></script>
	<script src="../login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../login/vendor/daterangepicker/moment.min.js"></script>
	<script src="../login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../login/js/main.js"></script>


<script>
	function btnCencel(){
		$(location).attr("href","http://"+$(location).attr("host")+"/");
	}
	
	function btnSignUp(){
		var temp={};
		$.each($("input"),function(index, item){
			if($(item).attr("type")!="checkbox"){
				temp[$(item).attr("name")] = $(item).val();	
			}else{
				temp[$(item).attr("name")] = $(item).is(":checked") ? "Y" : "N";
			}
		});
		console.log(JSON.stringify(temp));
		$.ajax({
			url:"/api/member",
			data:JSON.stringify(temp),
			method:"POST",
			dataType:"json",
			contentType : "application/json; charset=UTF-8",
			success : function(data){
				console.log(data);
			}
		});
	}
	
	function dataValidate(){
		if($("#memPwd").val() != $("#memPwdChk").val()){
			alert("비밀번호를 확인해 주세요.");
		}
		
	}
</script>
</body>
</html>