<!DOCTYPE html>
<html lang="en">
  <head>
    <title>경진 ERP</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery_cookie.js"></script>
  </head>
  <body>
    <script>
      $(document).ready(function() {
        $("#header").load("../common/header.html?ver=2020031201");
      });
    </script>

    <style>
      .container-fluid {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>
    <div id="header"></div>
    <div class="container-fluid" style="margin-top: 1%">
      <table class="table">
        <thead class="thead-light">
          <tr style="text-align:center;">
            <th>분류</th>
            <th>주소</th>
            <th>고객명</th>
            <th>연락처</th>
            <th>방문일</th>
            <th>금액</th>
            <th>등록일</th>
            <th>상세정보</th>
          </tr>
        </thead>
        <tbody id="tbody" style="text-align: center;"></tbody>
      </table>
      <div id="pageBar" style="text-align:center;color:black;"></div>
    </div>
  </body>
  <script>
    var tradeCategory;
    $(document).ready(function() {
      loadTransaction();
    });

    function loadTransaction() {
      $.ajax({
        url: "/api/transaction",
        method: "GET",
        dataType: "json",
        contentType: "application/json; charset=UTF-8",
        async: false,
        success: function(data) {
          tradeCategory = loadTradeCategory();
          $.each(data, function(index, item) {
            createRow(item);
          });
        },
        error: function(request, status, error) {
          ajaxError(request, status, error);
        }
      });
    }

    function createRow(item) {
      var tbody = $("#tbody");
      var tr = $("<tr>");

      $.each(tradeCategory, function(index, result) {
        if (result.tradeCode == item.traCategory) {
          $(tr).append($("<td>").text(result.tradeName));
        }
      });
      $(tr).append($("<td>").text(item.traAddr + " / " + item.traAddrDetail));
      $(tr).append($("<td>").text(item.traCustomer));
      $(tr).append($("<td>").text(item.traTel));
      $(tr).append($("<td>").text(item.traVisitDate));
      $(tr).append($("<td>").text(item.traPrice.toLocaleString() + "원"));

      // temp = loadClientCategory();
      // console.log(clientCategory);

      $(tr).append(
        $("<td>").text(
          item.regDate.year +
            "-" +
            item.regDate.monthValue +
            "-" +
            item.regDate.dayOfMonth +
            " / " +
            item.regDate.hour +
            "시 " +
            item.regDate.minute +
            "분"
        )
      );

      var td = $("<td>");
      $(td).append(
        $("<button>")
          .attr("class", "btn btn-sm")
          .attr("type", "button")
          // .attr("data-toggle", "modal")
          // .attr("data-target", "#client_modal")
          .attr("onclick", "updateModalOn(this)")
          .css({
            "background-color": "#17a2b8",
            color: "white"
          })
          .text("보기")
      );
      $(td).append(
        $("<button>")
          .attr("class", "btn btn-sm")
          .attr("type", "button")
          // .attr("data-toggle", "modal")
          // .attr("data-target", "#client_modal")
          .attr("onclick", "updateModalOn(this)")
          .css({
            "background-color": "#17a2b8",
            color: "white",
            "margin-left": "10px"
          })
          .text("수정")
      );
      $(td).append(
        $("<button>")
          .attr("class", "btn btn-sm")
          .attr("type", "button")
          .attr("onclick", "deleteClient(this)")
          .css({
            "background-color": "#17a2b8",
            color: "white",
            "margin-left": "10px"
          })
          .text("삭제")
      );

      $(tr).append(td);

      $(tbody).append(tr);
    }

    function deleteClient(item) {
      var index = $(item)
        .parent()
        .parent()
        .children()[0];
      $.ajax({
        url: "/api/client/" + $(index).text(),
        method: "DELETE",
        dataType: "text",
        contentType: "application/json; charset=UTF-8",
        success: function(data) {
          if (data == "true") {
            alert("삭제되었습니다.");
          } else {
            alert("삭제 실패!");
          }
        },
        erorr: function(request, status, error) {
          ajaxError(request, status, error);
        },
        beforeSend: function() {
          loadingDisplayOn();
        },
        complete: function() {
          loadingDisplayOff();
          $(location).attr("href", $(location).attr("href"));
        }
      });
    }

    function loadTradeCategory() {
      var obj = {
        url: "/api/tradeCategory",
        method: "GET",
        dataType: "json",
        contentType: "application/json; charset=UTF-8",
        async: false,
        result: {},
        success: function(data) {
          obj.result = data;
        },
        error: function(request, status, error) {
          ajaxError(request, status, error);
        }
      };
      $.ajax(obj);
      return obj.result;
    }

    Number.prototype.format = function() {
      if (this == 0) return 0;

      var reg = /(^[+-]?\d+)(\d{3})/;
      var n = this + "";

      while (reg.test(n)) n = n.replace(reg, "$1" + "," + "$2");

      return n;
    };

    // 문자열 타입에서 쓸 수 있도록 format() 함수 추가
    String.prototype.format = function() {
      var num = parseFloat(this);
      if (isNaN(num)) return "0";

      return num.format();
    };
    jQuery(".format-money").text(function() {
      jQuery(this).text(
        jQuery(this)
          .text()
          .format()
      );
    });
  </script>

  <style>
    #pageBar > a {
      color: black !important;
      margin: 4px !important;
      font-size: 20px;
    }
    #pageBar > .cPage {
      margin: 4px !important;
      color: grey !important;
      font-size: 22px;
    }
    .list-padding {
      padding: 10px 5px;
    }
  </style>
</html>
